{{page-title "Index"}}
<form {{action "login" @model on="submit"}}>
  <div class="ui input focus">
    <Input type="email" @value={{@model.email}} placeholder="Votre email" />
    <Input type="password" @value={{@model.password}} placeholder="Votre mot de passe" />
  </div>
  <button class = "ui yellow button" type="submit">Se connecter</button>
</form>
{{outlet}}